<% include ./partials/header %>

   <div class="ui large header">Your Posts</div>
   <div class="ui top attached">
      <div class="ui divided items">
         <% for(var i = 0; i < blogs.length; i++) { %>
            <div class="item">
               <div class="image">
                  <img src="<%= blogs[i].image %>">
               </div>
               <div class="content">
                  <a class="header" href="/<%= blogs[i]._id %>"><%= blogs[i].title %></a>
                  <div class="meta">
                     <span><%= blogs[i].created.toDateString() %></span>
                  </div>
                  <div class="description">
                  <% if(typeof blogs[i].post == "undefined") { %>
                     <p>no content</p>
                  <% } else { %>
                     <p><%- blogs[i].post.substring(0, 99) %></p>
                  <% } %>
                  </div>
                  <div class="extra">
                     <a class="ui floated violet button" href="/<%= blogs[i]._id %>">Read More</a> 
                  </div>
               </div>
            </div>
         <% } %>
      </div>
   </div>
</div>

<% include ./partials/footer %>